.Main {
    /* padding-left: 5%;
    padding-right: 5%; */
}
.form-nav{
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: right !important;
    justify-content: right;  
    z-index: -5 !important;
    top: 0 !important;
    /* margin-bottom: 100px; */
}
.form-area {
    /* background: rgb(93, 218, 241);
    background: linear-gradient(148deg, rgba(93, 218, 241, 1) 0%, rgba(31, 204, 147, 1) 100%); */
}

.form {
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 4%;
}

.welcome-message {
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 1%;
}

.form-instructions {
    padding-left: 10%;
}

.jr-board-about {
    width: 380px;
}
.submit-btn{
    background-color: rgb(10, 185, 171) !important;
    color: white;
    border: 2px solid white !important;
    padding-left: 55px !important;
    padding-right: 55px !important;
    border-radius: 60px !important;
    margin-right: 65px;
    font-size: 16px !important;
}


.about-header{
    position: absolute;
    /* font-size: 25px; */
    width: 570px;
    height: 160px;
    margin-top: 50px;
    margin-left: 500px;
    z-index: 3;
    line-break: strict;
}
.about-header-underline{
    margin-left: 40px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    border-radius: 40px;
    height: 10px;
    width: 400px;
    background: rgb(93, 218, 241);
    background: linear-gradient(148deg, rgba(93, 218, 241, 1) 0%, rgba(31, 204, 147, 1) 100%);
}
.about-logo{
    position: absolute;
    margin-left: 650px;
    margin-top: 15px;
    width: 200px;
}
.picture {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari prior 9.0 */
    transform: rotate(5deg); /* Standard syntax */
  }