
.form-nav{
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: right !important;
    justify-content: right;  
    z-index: -5 !important;
    top: 0 !important;
}

.form {
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 4%;
}

.welcome-message {
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 1%;
}

.form-instructions {
    padding-left: 10%;
}

.jr-board-about {
    width: 380px;
}
.submit-btn{
    background-color: rgb(10, 185, 171) !important;
    color: white;
    border: 2px solid white !important;
    padding-left: 55px !important;
    padding-right: 55px !important;
    border-radius: 60px !important;
    margin-right: 65px;
    font-size: 16px !important;
}

.about-area{
    padding-left: 200px;
    position: absolute;
}
.about-header{
    position: absolute;
    width: 570px;
    height: 160px;
    margin-top: 55px;
    margin-left: 320px;
    z-index: 3;
    line-break: strict;
}
.about-header-underline{
    margin-left: 40px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    border-radius: 40px;
    height: 10px;
    width: 400px;
    background: rgb(93, 218, 241);
    background: linear-gradient(148deg, rgba(93, 218, 241, 1) 0%, rgba(31, 204, 147, 1) 100%);
}
.about-logo{
    position: absolute;
    margin-left: 650px;
    margin-top: 15px;
    width: 200px;
}

.team-cards{
    width: 400px;
    height: 400px;
    margin-top: 155px;
    margin-left: 110px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    display: inline-block;
    overflow: hidden;
}

.team-card-header{
    padding: 20px;
    padding-top: 30px;
    height: 180px;
    width: 100%;
    background: rgb(93, 218, 241);
    background: linear-gradient(148deg, rgba(93, 218, 241, 1) 0%, rgba(31, 204, 147, 1) 100%);
}
.greg-pic{
    width: 115px;
    height: 115px;
    border-radius: 30px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    border-image-outset: 10px;
    float: left;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 1%;
    -ms-transform: rotate(25deg); 
    -webkit-transform: rotate(25deg);
    transform: rotate(10deg);
}
.member-pic{
    width: 120px;
    border-radius: 25px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    border-image-outset: 10px;
    float: left;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 1%;
    -ms-transform: rotate(25deg); 
    -webkit-transform: rotate(25deg);
    transform: rotate(10deg);

}
.member-info{
    margin-left: 120px;
    margin-top: 7px;
}
.member-footer {
    margin-top: -25px;
    margin-left: 88px;
    position: relative;
    border-top: none !important;
    background: none;
}
.responsabilies{
    padding: 40px;
    margin-left: 7px;
    margin-top: -10px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {

.form-nav{
    display: none;
}
.welcome-message{
    margin-top: 15%;
    margin-left: 20%;
    font-size: 18px;
}

}