
.description-heading {
    position: absolute;
    width: 570px;
    height: 160px;
    margin-top: 50px;
    margin-left: 100px;
    z-index: 3;
    line-break: strict;
}
.description-wrapper {
    height: 421px;
    margin: 6px;
    padding: 41px 70px 0px 70px;
}
.description{
    margin-block-start: 180px;
    position: absolute;
    width: 570px;
    font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .h1, h1{
        font-size: 24px !important;
        margin-left: -40px;
    }
    .description-wrapper {
        height: 300px;
    }
    .description-heading {
        position: absolute;
        width: 80%;
        margin-top: 45px;
        z-index: 3;
    }
    
    .p, p{
        font-size: 16px !important;
        margin-left: -38px;
    }
    ul li{
        display: none;
    }
    .description{
        margin-block-start: 25%;
        position: absolute;
        width: 80%;
        font-size: 16px;
    }
  }

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .h1, h1{
        font-size: 26px !important;
        margin-left: -10px;
    }
    .description-wrapper {
        height: 300px;
    }
    .description-heading {
        position: absolute;
        width: 40%;
        margin-top: 5px;
        z-index: 3;
    }
    
    .p, p{
        font-size: 16px !important;
        margin-left: -14px;
    }
    ul li{
        display: none;
    }
    .description{
        margin-block-start: 8%;
        position: absolute;
        width: 42%;
        font-size: 16px;
    }    
}