.background-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: right;  
    z-index: 0;
    top: 0 !important;
    margin-bottom: 100px;
}

.description{
    /* margin: 70px; */
    margin-left: 100px;
}