.nav{
    background: transparent;
}
#nav-logo{
    width: 20%;
    height: auto;
    margin-left: 5%; 
}
.justify-content-end .login-button{
    margin-right: 100px !important;
    display: inline-block;
}