.nav {
    /* background: transparent !important; */
    top: 0;
    left: 0;
    right: 0;
    z-Index: 3;
}

.nav--unfixed {
    position: relative;
    transform: translateY(0);
}

.nav--scrolled {
    transition: transform 200ms ease-in-out;
}

.nav--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.nav--pinned {
    position: fixed;
    transform: translateY(0%);
}


#nav-logo {
    width: 260px;
    height: auto;
    margin-left: 20%;
}

.justify-content-end {
    margin-left: 770px;
    margin-top: 5px;
    font-size: 15px !important;

}

.navbar-light .navbar-text a {
    color: white !important;
}

.nav-btn {
    background-color: transparent !important;
    color: white;
    border: 2px solid white !important;
    padding-left: 55px !important;
    padding-right: 55px !important;
    border-radius: 60px !important;
    margin-right: 65px;
    font-size: 16px !important;
}



@media only screen and (min-width: 320px) and (max-width: 568px) {

    #nav-logo {
        width: 280px;
        height: auto;
        margin-left: 27%;
        /* margin-bottom: 155px; */
    }
    .justify-content-end {
        margin-left: 14%;
        margin-top: 85px;
        font-size: 15px !important;
        position: absolute;
    }

    .nav-btn{
        background-color: rgb(10, 185, 171) !important;
        color: white;
        border: 2px solid white !important;
        padding-left: 45px !important;
        padding-right: 45px !important;
        border-radius: 50px !important;
        margin-right: 55px;
        font-size: 15px !important;
        margin-bottom: 10px;
    }
}