.description-heading {
    position: absolute;
    width: 570px;
    height: 160px;
    margin-top: 50px;
    margin-left: 100px;
    z-index: 3;
    line-break: strict;
}
.description-wrapper {
    height: 421px;
    margin: 6px;
    padding: 41px 70px 0px 70px;
}
.description{
    margin-block-start: 180px;
    position: absolute;
    width: 570px;
    font-size: 16px;
}