.footer{
    display: flex;
    /* position:absolute;
    bottom:0 !important;
    width: 100%; */
    background-color: rgb(45, 46, 46);
    color: white;
    height: 100px;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 70px;
}
.footer-image{
    width: 60px;
    height: 60px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 10px;
    margin-left: 100px; */
}

.footer-text{
    margin-top: 20px;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 8px;
}
.icons{
    color: white;
    font-size: 30px;
    margin-top: 22px;
    float: right !important;
    margin-left: 20px;
}
.icons-area{
    margin-left: 950px;
}