.junior-card {
    position: relative;
    margin-left: 3%;
    margin-bottom: 4%;
    display: inline-block !important;
    height: 310px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
}

.card-background {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 18px;
    padding-bottom: 4px;
    background: rgb(93, 218, 241);
    background: linear-gradient(148deg, rgba(93, 218, 241, 1) 0%, rgba(31, 204, 147, 1) 100%);
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
}
.card-info{
    margin-top: 5px;
}
.junior-name{
    font-size: 22px;
}
.junior-location{
    font-size: 18px;
}

.bottom-section{
    padding-left: 20px;
    padding-right: 20px;
}

.skillset {
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10%;
    font-size: 15px;
}

.card-footer {
    margin-top: 10px;
    bottom: 0 !important;
    position: absolute;
    border-top: none !important;
}

.image-placeholder {
    width: 115px;
    height: 115px;
    border-radius: 30px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.36);
    border-image-outset: 10px;
    float: left;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 1%;
}

/* .no-image {
    width: 110px;
    height: 110px;
    border-radius: 30px;
    border: 6px solid;
    border-image: linear-gradient(148deg, rgb(88, 206, 228), rgb(27, 182, 131)) 1;
} */

a{
    margin-right: 45px;
    margin-top: 10px;
    margin-left: -10px;
}

.emptyLink {
    display: none;
}